{% extends "base.html" %}

    {% block mapwrap %}{% endblock %}

    {% block title %}about{% endblock %}

    {% block content %}

      <div id="about">
        <h1>We made this</h1>
      
        <p>This is a collaborative art project by <a href="https://twitter.com/carsonkmcneil">Carson</a> & <a href="https://twitter.com/daiyitastic">daiyi</a>, two aspiring humans living in San Francisco. We were walking around the city when we found some had left chalk on the street, where random people had started contributing to collaborative sidewalk doodles. We want to spread little spontaneous art things all over! We live in <a href="http://convox.org">Convox</a>, but only until we can get achieve our dream treehouse on a whale.</p>

        <p>Here's us on the happiest day of the year (daylight savings' eve):</p>

        <img class="img-responsive" src="{{ MEDIA_URL }}us.png"/>
      </div>

    {% endblock %}

