{% extends "base.html" %}

    
    {% block nav-about %}
      <li class="active"><a href="/lilguys/about">about</a></li>
    {% endblock %}

    {% block mapwrap %}{% endblock %}

    {% block title %}about{% endblock %}

    {% block content %}

      <div id="about">
        <h1>about lilguys</h1>
        <p>Hello! This is a collaborative art project from <a href="http://convox.org">Convox</a>. We and assorted friends crafted a bunch of little guys, and let them go free to wander the world! We hope that we can all write their stories together. You can see all the guys out there on <a href="/lilguys/#allguysmap">this map</a>. </p>
        <p>The guys have little url tags attached to them and secret codes etched into their little belly/body/body-equivalents, so people who find them can contribute the next chapter in that guy's adventure before leaving them somewhere to wander until they meet someone else! Hopefully some guys will get to travel the world, or at least delight a random passerby with their company. </p>

        <h1>we made this</h1>
        <p>We are <a href="https://twitter.com/carsonkmcneil">Carson</a> & <a href="https://twitter.com/daiyitastic">daiyi</a>, two aspiring humans living in San Francisco. We were walking around the city when we found chalk someone had left on the street, where random people had started contributing to collaborative sidewalk doodles. We want to spread little spontaneous art things all over! We live in <a href="http://convox.org">Convox</a>, but only until we can achieve our dream treehouse on a whale.</p>

        <p>Here's us on the happiest day of the year (daylight savings' eve):</p>

        <img class="img-responsive" src="{{ MEDIA_URL }}us.png"/>
      </div>

    {% endblock %}

