{% extends "base.html" %}

{% block title %}lil guys all over the place{% endblock %}

<script>
function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% block map %}
  <div id="map-canvas"></div>
{% endblock %}


{% block content %}
  <ul>
    {% for code, name in lilguy_url_code_to_name.items %}
      <li><a href="/lilguys/g/{{ code }}">{{ name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
