{% extends "base.html" %}

{% block title %}lil guys all over the place{% endblock %}

{% block map %}
<div id="map-canvas"></div>
{% endblock %}


{% block content %}

  <div id="guy-grid-container">

    <h1>lil guys</h1>

    <h2>scattered all over the world having encounters and adventures, documented by random passing strangers</h2>
    <p>Hello! This is a collaborative art project from <a href="http://convox.org">Convox</a>.
    We made a bunch of little guys, and let them go free to wander the world! We hope that we
    can all write their stories together. You can see all the guys out there on this map,
    and on the page below. Click on a pic to see that guy's story. If you find a guy, go
    to its page, and enter the code on its belly, and then you can write the next chapter
    in that guy's adventure, before leaving them somewhere to wander until they meet
    someone else!</p>

    <div id="guy-grid">
      {% for code, name in lilguy_url_code_to_name.items %}
      <div class="col-md-3 col-sm-4 col-xs-4 guy-grid-box">
        <a href="/lilguys/g/{{ code }}">
          <img class="img-responsive" src="http://placehold.it/200x200" alt="">
        </a>
        <h3>
          <a href="/lilguys/g/{{ code }}">{{ name }}</a>
        </h3>
      </div>
      {% endfor %}
    </div>
  </div>
  
{% endblock %}


{% block javascript %}
<script>
function initialize_map() {
    var mapOptions = {
        center: { lat: -34.397, lng: 150.644},
        zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var lilguys = {{ lilguys_js|safe }};
    var markers = [];
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < lilguys.length; i++) {
        var coord = new google.maps.LatLng(lilguys[i].current_lat, 
                                           lilguys[i].current_lon);
        markers.push(new google.maps.Marker({position: coord, map: map}));
        bounds.extend(coord);
    }
    map.fitBounds(bounds);
}
google.maps.event.addDomListener(window, 'load', initialize_map);
</script>
{% endblock %}
