{% extends "base.html" %}

{% block title %}lil guys all over the place{% endblock %}

{% block map %}
<div id="map-canvas"></div>
{% endblock %}


{% block content-wrap %}

<div class="container">
    <h1>lil guys <small>made in San Francisco, passed from friend to stranger, seeing how far they can go in the world</small></h1>

    <div id="recent-chapters">

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2>Recent adventures!</h2><br>
        </div>
      </div>

      {% for chapter in recent_chapters %}      
      <a href="/lilguys/g/{{ chapter.url }}#{{ chapter.timestamp|date:'U' }}">
        <div class="panel panel-recent-chapter">
          <div class="row">
            <div class="recent-avatar">
              <img src="{{ chapter.lilguy.pic_180.url }}" class="img-responsive">
            </div>
            <div class="recent-synopsis">
              <div class="panel-body">
                <p><b>{{ chapter.lilguy.name }} made an appearance in  
                    {{ chapter.location.city }}, {{ chapter.location.state }} on 
                    {{ chapter.timestamp|date:"F j" }}:</b></p>
                {{ chapter.story_text|truncatewords_html:40 }}
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>
</div>

<div class="container-fluid all-guys">
  <div class="container">
    <h2>some more guys</h2>
    <div id="guy-grid-container">
      <div id="guy-grid">
        <div class="row">
          {% for code, name_pic in lilguy_url_code_to_name_pic.items %}
          <div class="col-md-4 col-sm-4 col-xs-4 guy-grid-box">
            <a href="/lilguys/g/{{ code }}">
              <img class="img-responsive" src="{{ name_pic.1.url }}" alt="">
            </a>
            <h3>
              <a href="/lilguys/g/{{ code }}">{{ name_pic.0 }}</a>
            </h3>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
<script>
function initialize_map() {
    var mapOptions = {
        center: { lat: -34.397, lng: 150.644},
        zoom: 8,
        disableDefaultUI: true,
        mapTypeControl: false, 
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.LARGE,
            position: google.maps.ControlPosition.LEFT_BOTTOM
        },
        streetViewControl: false,
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var lilguys = {{ lilguys_js|safe }};
    var markers = [];
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < lilguys.length; i++) {
        var coord = new google.maps.LatLng(lilguys[i].current_lat, 
                                           lilguys[i].current_lon);
        markers.push(new google.maps.Marker({position: coord, map: map}));
        bounds.extend(coord);
    }
    map.fitBounds(bounds);
}
google.maps.event.addDomListener(window, 'load', initialize_map);
</script>
{% endblock %}
