{% extends "base.html" %}
    
    {% block title %}{{ lilguy.name }}'s adventure{% endblock %}

    {% block map %}
    <div id="map-canvas"></div>
    {% endblock %}


    {% block avatar %}
      <div id="avwrap">
        <div id="avatar" class="center-block">
          <a href="">
            <img src="{{ lilguy.pic.url }}" id="img-avatar" class="img-thumbnail">
          </a>
        </div>
      </div>
    {% endblock %}
 


    {% block content %}


      <div class="text-center">
        <h1>{{ lilguy.name }}'s adventure</h1>
      </div>

      <div class="container">
        {% for chapter in chapters %}
        <div class="chapter">
          <div class="panel panel-default">
            {% if chapter.picture %}
            <img class="img-responsive" src="{{ chapter.picture.url }}">
            {% endif %}
            
            <div class="panel-body">
              {% if chapter.title %}
              <h3>{{ chapter.title }}</h3>
              {% endif %}
              <p>{{ chapter.story_text }}</p>
            </div>

            <ul class="list-group">
              <li class="list-group-item">Found at ({{ chapter.found_at_lon }}, {{ chapter.found_at_lat}}) | {{ chapter.timestamp }} 
              </li>

            </ul>
          </div>
        </div>
        {% endfor %}


        <div class="panel panel-default" id="panel-add-chapter">

          <div class="panel-body">
              <!-- Hidden field stores lilguy's url_code for auth against entered code.
                   Think of it as the 'username' to the password that the user enters. -->
              <input id="url_code" type="hidden" value="{{ url_code }}"/>

              <div id="panel-code-input" class="form-group">
                  <label for="code_input">I found this little guy. <i>(look at my belly!)</i></label>
                <br><input type="text" id="code_input" />
                <div id="checking-code">
                  <span class="glyphicon glyphicon-refresh"></span>
                </div>
              </div>
              
              <form id="add-chapter" enctype="multipart/form-data" action="/lilguys/g/{{ url_code }}/" method="post">
                {% csrf_token %}
                {{ chapter_form.code }}
                <div class="form-group expand">
                  <label for="id_title">title</label>
                  {{ chapter_form.title }}
                </div>
                <div class="form-group">  
                  <label for="id_story">story</label>
                  {{ chapter_form.story_text }}
                </div>

                <div class="form-group">  
                    <label for="id_found_at_lat">where did you find me? <i>(click map)</i></label>
                  {{ chapter_form.found_at_lat}}
                  {{ chapter_form.found_at_lon }}
                </div>

                <div id="id_map_wrap">
                  <div id="id_map"></div>
                </div><br>

                <div class="form-group">  
                  <label for="id_picture">add photo</label>
                  {{ chapter_form.picture }}
                </div>
                <div class="form-group input-block">  
                  <label for="id_email">email (for adventure updates!)</label>
                  {{ chapter_form.email }}
                </div>

                <input class="btn btn-default pull-right" type="submit" value="Add story!"></input>
              </form>
            
          </div>
        </div>
      </div> 
    {% endblock %}


    {% block javascript %}
    <script>
        function initialize_map() {
            var mapOptions = {
                center: { lat: {{ lilguy.current_lat }},
                          lng: {{ lilguy.current_lon}}
                          },
                zoom: 15
            };
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            // Make the line that will trace the guys route:
            var lineSymbol = {
                    path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
            };
            var polyOptions = {
                icons: [{
                    icon: lineSymbol,
                    offset: '100px',
                    repeat: '150px'
                }],
                strokeColor: '#3366FF',
                srokeOpacity: 1.0,
                strokeWeight: 3
            };
            var poly = new google.maps.Polyline(polyOptions);
            poly.setMap(map);

            // Make an array of everywhere the lilguys has been.
            var journey = {{ journey_coords|safe }};
            var journey_markers = [];
            var bounds = new google.maps.LatLngBounds(); //Object used to fit map to pts.
            // Draw all the placemarks
            for (var i = 0; i < journey.length; i++) {
                var coord = new google.maps.LatLng(journey[i].lat, journey[i].lng);
                journey_markers.push(new google.maps.Marker({position: coord, map:map}));
                var path = poly.getPath();
                path.push(coord);
                bounds.extend(coord);
            }
            // size the map so it contains all the points:
            map.fitBounds(bounds);
        }
        google.maps.event.addDomListener(window, 'load', initialize_map);
    </script>
    <script src="{{ STATIC_URL  }}maps_location_widget.js"></script>
    <script src="{{ STATIC_URL }}add_chapter.js"></script>
    {% endblock %} 
