{% extends "base.html" %}
    
    {% block title %}{{ lilguy.name }}'s adventure{% endblock %}

    {% block map %}
      <iframe
        width="100%"
        height="500px"
        frameborder="0" style="border:0"
        src=" https://www.google.com/maps/embed/v1/place?key=AIzaSyAMi4n47QH6dNiVtxHe0tpV5RZZup6fLY8&q={{ lilguy.current_lat }},{{ lilguy.current_lon }}">
      </iframe>
    {% endblock %}


    {% block avatar %}
      <div id="avwrap">
        <div id="avatar" class="center-block">
          <a href="">
            <img src="{{ lilguy.pic.url }}" id="img-avatar" class="img-thumbnail">
          </a>
        </div>
      </div>
    {% endblock %}
 


    {% block content %}

      <div class="text-center">
        <h1>{{ lilguy.name }}'s adventure</h1>
      </div>

      {% for chapter in chapters %}
      <div class="panel panel-default">
          <div class="adventure-pic-wrap">
            <img class="img-responsive" src="{{ chapter.picture.url }}">
            <div class="adventure-title">
              <h3>{{ chapter.title }}</h3>
            </div>
          </div>

        <div class="panel-body">
          <p>{{ chapter.story_text }}</p>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Found at ({{ chapter.found_at_lon }}, {{ chapter.found_at_lat}}) | {{ chapter.timestamp }} 
          </li>

        </ul>
      </div>
      {% endfor %}

      <div class="panel panel-default">
          <div class="panel-heading">Add a new chapter!</div>
          <div class="panel-body">
              <form enctype="multipart/form-data" action="/lilguys/{{ url_code }}/" method="post">
                  {% csrf_token %} 
                  {{ chapter_form.as_ul }}
                  <input type="submit" value="Submit" />
              </form>
          </div>
      </div>
 
      {% endblock %}
 
